/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    background: url("./login.jpeg") no-repeat center center fixed;
    background-size: cover;
  }
  
  /* Form styles */
  .container {
    margin: 50px auto;
    max-width: 500px;
    min-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
  }
  
  button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3457D5;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #0039a6;
  }
  
  a {
    color: #3457D5;
    text-decoration: none;
  }

  a:hover {
    color: #0039a6;
  }